// Sizes
$max-width: 1440px;

// Colors
$text-color: #363636;
$inactive-text-color: #cccccc;

// Fonts
$nordin-font: 'Nordin', sans-serif, monospace;
$montserrat-font: 'Montserrat', sans-serif, monospace;
$sf-pro-display-font: 'SF Pro Display', sans-serif, monospace;